.video-listing {
  flex: 1;
}
.video-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.video-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.video-card {
  width: 300px;
  cursor: pointer;
}
.video-info {
  display: flex;
  gap: 5px;
}
.profile-pic {
  height: 40px;
  width: 40px;
  border-radius: 100%;
}
.watch-later-cta {
  position: absolute;
  right: 0;
  color: #509ecf;
  background-color: white;
  padding: 5px;
  border-bottom-left-radius: 15px;
  z-index: 2;
  cursor: pointer;
}
